:root {
  --themeColor: #fa3333;
  font-size: 10px;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.egg_btn {
  transition: 0.5s;
  outline: none;
  border: none;
  padding: 1.2rem 2rem;
  border-radius: 1.2rem;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  background: #666777;
}
.egg_btn.manual {
  background: #e3484b;
}
.egg_setting_box {
  position: fixed;
  top: 7rem;
  left: 0.5rem;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0.2rem 0.2rem 0.4rem -0.1rem #ccc;
  width: 20rem;
  overflow: hidden;
  transform: 80ms ease-out;
  z-index: 99999;
}
.egg_setting_box.active {
  width: 24rem;
}
.egg_setting_box hr {
  height: 0.1rem;
  border: none;
  background: #eee;
}
.egg_setting_item {
  margin-top: 0.5rem;
  min-height: 3rem;
  min-width: 20rem;
  font-size: 1.6rem;
  display: flex;
  justify-items: center;
  justify-content: space-between;
}
.egg_info {
  flex-direction: column;
}
.egg_userinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.egg_login_status {
  display: flex;
  justify-content: center;
  align-items: center;
}
.egg_login_status button {
  outline: none;
  padding: 0.4rem 0.8rem;
  background: #ccc;
  font-size: 1.4rem;
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
}
.egg_login_status.active {
  flex-grow: 1;
}
.egg_login_status.active button {
  background: var(--themeColor);
  padding: 0.8rem 2.4rem;
}
.egg_userinfo .egg_user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}
.egg_userinfo .egg_user .egg_sub_nickname,
.egg_userinfo .egg_user .egg_avatar_img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background: var(--themeColor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2rem;
  color: white;
}
.egg_userinfo .egg_user .egg_name {
  padding-left: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 10rem;
}
.egg_scoreinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.8rem;
}
.egg_scoreinfo .egg_totalscore,
.egg_scoreinfo .egg_todayscore {
  font-size: 1.2rem;
}
.egg_scoreinfo span {
  color: var(--themeColor);
  padding-left: 0.4rem;
  font-weight: bold;
}
.egg_setting_item label {
  flex-grow: 1;
}
.egg_progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
.egg_progress .egg_track {
  background: #ccc;
  height: 0.5rem;
  border-radius: 1rem;
  flex: 1 1 auto;
  overflow: hidden;
  box-shadow: -0.1rem 0.1rem 0.1rem -0.1rem #999 inset,
    0.1rem 0.1rem 0.1rem -0.1rem #999 inset;
}
.egg_progress .egg_track .egg_bar {
  height: 0.5rem;
  background: var(--themeColor);
  border-radius: 1rem;
  width: 0;
  transition: width 0.5s;
}
.egg_progress .egg_percent {
  font-size: 1.2rem;
  padding-left: 0.5rem;
  width: 3.5rem;
}
input[type='checkbox'].egg_setting_switch {
  cursor: pointer;
  margin: 0;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 4.2rem;
  height: 2.2rem;
  background: #ccc;
  border-radius: 5rem;
  transition: background 0.3s;
  --border-padding: 0.5rem;
  box-shadow: -0.1rem 0 0.1rem -0.1rem #999 inset,
    0.1rem 0 0.1rem -0.1rem #999 inset;
}
input[type='checkbox'].egg_setting_switch::after {
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 0.2rem #999;
  transition: 0.4s;
  position: absolute;
  top: calc(50% - (1.4rem / 2));
  position: absolute;
  left: var(--border-padding);
}
input[type='checkbox'].egg_setting_switch:checked {
  background: var(--themeColor);
}
input[type='checkbox'].egg_setting_switch:checked::after {
  left: calc(100% - var(--border-padding) - 1.4rem);
}
.egg_start_btn {
  justify-content: center;
}
.egg_study_btn {
  outline: none;
  background: var(--themeColor);
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.egg_study_btn:hover {
  opacity: 0.8;
}
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0.4;
    background: #ccc;
  }
}
.egg_study_btn.loading {
  animation: fade 2s ease infinite alternate;
}
.egg_study_btn.disabled {
  background: #ccc;
}
.egg_tip {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  padding: 1.2rem 1.4rem;
  border: none;
  border-radius: 1rem;
  background: #222222;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 0.8s ease;
  opacity: 0;
  transform: scale(0.9) translateY(10px);
}
.egg_tip.active {
  opacity: 1;
  transform: scale(1) translateY(0);
}
.egg_frame iframe {
  width: 40rem;
  height: 32rem;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
}
.egg_menu.mobile .egg_frame iframe {
  width: 20rem;
  height: 20rem;
  top: 0;
}
.egg_frame {
  overflow: hidden;
}
